.brand{
    grid-column-start: 1;
    grid-column-end: 4;
  background-color:  #1E1E1E;
 margin-bottom: 10px;
  
 
}
.friendlist{
     background-color:  #1E1E1E;
    grid-row-start: 2;
    grid-row-end: 4;
   border-radius:  0 25px 0 0 ;
}
.chat-container{
  padding-top: 20px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color:   #1E1E1E ;
    border-radius: 25px 25px 0  0  ;
}


.frienddetails{
  grid-row-start: 2;
  margin-top:  10vh;
    grid-row-end: 3;
    width : 18vw ;
    height : 70vh ;
    background-color: #1E1E1E;
    color: #b0b0b0;
    border-radius: 25px 25px  25px  25px ;
}


.usrimg{
  border-radius: 50%;
}