.registerform{
    background-color: rgb(0, 0, 0) ;
    opacity:0.65;
    border-radius: 50px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top : 10%; 
    left : 55% ;
    height : 85vh ;
    width : 30vw ;
    
}

.registerform input{
    margin: 15px ;
    height : 40px  ;
    padding: 5px;
    font-size: medium;
    color: rgb(204, 196, 196) ;
    border-left:white 1px solid;
    border-bottom:  white 1px solid;
    background: transparent;
    border-top: none;
    border-right: none;
}

.registerform input::placeholder{
    color: white;

}
.registerpage{
    background-color: rgb(48, 46, 46);
    height: 100% ;
    width : 100% ;
    margin:  0 ;
    position: absolute;
}
.login{
    background: transparent;
}


.side{
    height: 100%;
    width: 50%;
    top : 0% ;
    position: static;
    z-index: -1;
}

.heading{
    color:white
}