.userdetails{
    display: flex;
    background-color:black;
    justify-content: space-between;
    height : 100vh ;
    width : 100vw ;
     color: #b0b0b0;
  
}

button{
    background: transparent;
    border: none;
}

.preview{
    background-color:  #1E1E1E; 
    color: #b0b0b0;
    float: right;
    margin-top: 15vh ;
    margin-right: 15vw ;
    height : 70vh ;
    width : 17vw ;
    border-radius : 25px ;
}

.inputform{
    margin-top: 25vh;
    margin-left: 25vw;
    background-color:  #1E1E1E;
    height: 50vh ;
    padding-top: 50px ;
    padding-left: 30px;
    color: #b0b0b0;
    width: 20vw;
    border-radius: 50px;
    margin-left: 30vh;
}

.file{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.testarea{
    border-radius: 20px;
    margin-left: 20px;
    text-indent: 10px ;
}
.goback{
    position: fixed;
    top:5%;
    right: 5%;
   
    height: 80px;
    width: 80px;
    border: solid 5px ;
    border-color: white;
    border-radius: 50%;
}