.chat-header{
   
    display: inline-block;
   
}

.chat-message{
    height : 70vh ;
    display: flex;
    align-items: center;
   flex-direction: column;
    overflow-y: scroll ;
  scroll-behavior: smooth;
}
.chat-message::-webkit-scrollbar{
  display: none;
}

.chat-header{
  width : 96% ;
  display: flex;
  padding: 20px;
  border-bottom: solid black 3px;
}

.ProfilePic{
  margin-left:  50vw;
   height :70px ;
   width: 70px;
   border-radius: 25%;
  
}

